/*Color scheme:
  #B2B09B (beige)
  #43AA8B (sea blue)
  #254441 (darker green)
  #F6F59 (orange)
  #DB5O4A (orange red) 

Alternative Color scheme:
  #0F3C56 (dark blue)
  #19648F (blue)
  #EFEFEF (off-white)
  #FCFCFC (white)
  #333333 (Black);
  */

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FCFCFC;
	font: 16px Georgia, sans-serif;
	color: #333333;
	padding-top: 80px;
}

a {
	color: #19648F;
}

h1, h2, h3 {
	font-family: 'Cabin', sans-serif;
}

h1 {
	text-align: left;
	font-size: 3em;
}

h2 {
	text-align: left;
	font-size: 1.5em;
}

img {
	border: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

/*.intro {
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	padding: 25px;
	width: 550px;
	margin-top: 20px;
}*/

/*.info {
	margin-left: auto;
	margin-right: auto;
	background-color: #6D326D;
	color: #FFFFFF;
	border-radius: 25px;
	padding: 25px;
	width: 550px;
	margin-top: 20px;
}*/

.contact {
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	padding: 25px;
	border-radius: 25px;
	width: 550px;
	margin-top: 20px;
}

/*.intro img {
	border-radius: 50%;
	vertical-align: middle;
	padding: 10px;
	width: 300px;
	margin: 0 auto;
}*/

.contact-link {
	padding: 10px;
}

.dropdown-menu { 
	min-width: 230px 
}

 .navbar {
  min-height: 80px;
  background-color: #FCFCFC;
  border-color: #EFEFEF;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

.section {
	padding: 20px 20px;
}

.section-alt {
	/*background-color: #0F3C56;*/
	padding: 20px 20px;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
