/*Color scheme:
  #B2B09B (beige)
  #43AA8B (sea blue)
  #254441 (darker green)
  #F6F59 (orange)
  #DB5O4A (orange red) 

Alternative Color scheme:
  #E5F4E3 (off-white)
  #5DA9E9 (sky blue)
  003F91# (deep blue)
  #FFFFFF (white)
  #6D326D (purple);
  */

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #5DA9E9;
	font: 16px Georgia, sans-serif;
	color: #003F91;
}

a {
	color: #5DA9E9;
}

h1, h2, h3 {
	font-family: 'Cabin', sans-serif;
}

h1 {
	text-align: center;
	font-size: 3em;
}

h2 {
	text-align: center;
	font-size: 1.5em;
}

img {
	border: 0;
	margin: 0 auto;
}

.jumbotron {
	background-image: url("assets/dark-blue-sky.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	padding: 10%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.intro {
	margin-left: auto;
	margin-right: auto;
	background-color: #E5F4E3;
	border-radius: 25px;
	padding: 25px;
	width: 550px;
	margin-top: 20px;
}

.info {
	margin-left: auto;
	margin-right: auto;
	background-color: #6D326D;
	color: #FFFFFF;
	border-radius: 25px;
	padding: 25px;
	width: 550px;
	margin-top: 20px;
}

.contact {
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	padding: 25px;
	border-radius: 25px;
	width: 550px;
	margin-top: 20px;
}

.intro img {
	border-radius: 50%;
	vertical-align: middle;
	padding: 10px;
	width: 350px;
}

