/*Color scheme:
  #B2B09B (beige)
  #43AA8B (sea blue)
  #254441 (darker green)
  #F6F59 (orange)
  #DB5O4A (orange red) 

Alternative Color scheme:
  #E5F4E3 (off-white)
  #5DA9E9 (sky blue)
  #003F91 (deep blue)
  #FFFFFF (white)
  #6D326D (purple);
  */

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #5DA9E9;
	font: 16px Georgia, sans-serif;
	color: #003F91;
}

div {
	margin-right: auto;
	margin-left: auto;
	width: 6em;
}

.jumbotron {
	width: 700px;
	border-radius: 25px;
	padding: 25px;
}

.info {
	background-color: #6D326D;
	color: #FFFFFF;
	border-radius: 25px;
	padding: 25px;
	width: 550px;
	margin-top: 20px;
}

.contact {
	background-color: #FFFFFF;
	padding: 25px;
	border-radius: 25px;
	width: 550px;
	margin-top: 20px;
}

h2 {
	font-size: 1.5em;
}